body {
    background-image: url('../base_img/img_2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #efefef;
}

.logo__text {
    font-size: 1.3em;
    font-weight: 700;
    color: #026;
    text-shadow: 2px 2px 2px #585858;
}

.logo__name {
    font-size: 3.3em;
    color: #019;
}

.logo__header {
    font-size: 5.3em;
    color: #019;
    letter-spacing: 0.55em;
    margin-left: .6em;
}

.bounds {
    background-color: rgba(210, 210, 210, 0.17);
}

.minerals__container {
    background-color: rgba(210, 210, 210, 0.15);
}

.mineral__container {
    background-color: rgba(230, 250, 250, 0.85);
}

.logo {
    fill: #90f;
}

.logo--middle {
    fill: #019;
}

.mineral__category {
    text-shadow: 2px 2px 2px #aaa;
}

.minerals__anchor {
    border-color: transparent;
    border-radius: 12px 12px 12px 12px;
    background-color: rgba(200, 200, 200, 0.68);
    font-weight: 700;
    color: #019;
    text-shadow: 2px 2px 2px #577;
    transition: 
        border-radius 330ms ease-in-out, 
        font-weight 330ms ease-in-out, 
        color 330ms ease-in-out,
        font-size 330ms ease-in-out,
        scale 330ms ease-in-out,
        background-color 330ms ease-in-out;
}

.minerals__anchor:hover { 
    border-radius: 12px 12px 12px 12px;
    background-color: rgba(200, 200, 200, 1);
    color: #019; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px #323232;
    font-size: 110%;
    transform: scale(1.1);
}

.minerals__random {
    background-color: #3bf;
    box-shadow: 0 0 80px 35px #3bf;
}

.minerals__random 
.minerals__anchor { 
    border-left-width: 15px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 15px;
    background-color: #3bf;
    border-color: #019;
    color: #019;    
    border-radius: 25px 25px 25px 25px;
    transition: 
        font-size 300ms ease-in-out, 
        color 300ms ease-in-out, 
        background-color 300ms ease-in-out; 
}

.minerals__random 
.minerals__anchor:hover { 
    color: #efefef; 
    font-size: 110%;
    background-color: #019;
}

.view__all {
    border-left-width: 18px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 18px;
    width: 30%;
    margin-left: 32%;
    background-color: rgba(200, 200, 200, 0.88);
    border-radius: 14px;
    border-color: transparent;
    color: #019;
    transition: border-radius 300ms ease-in-out, 
        font-weight 300ms ease-in-out, 
        color 300ms ease-in-out, 
        font-size 300ms ease-in-out;
}

.view__all:hover {
    border-radius: 14px;
}

.mineral__image-bg {
    background-color: rgba(200, 220, 220, 0.7);
}

.mineral__table {
    color: #057;
}

h1, h1 a {
    color: #057;
    font-family: monospace;
    font-weight: 800;
    text-shadow: 2px 2px 2px #444;
}

.mineral__detail_header {
    background-color: rgba(245, 250, 250, 0.7);
    text-shadow: 2px 2px 2px #ccc;
}

.mineral__image {
    border: solid 1px #09f;
    border-radius: 8px 8px 8px 8px;
    transition: transform 450ms ease-in-out;
}

.mineral__image:hover {
    transform: scale(1.5);   
}

/*  TOOLTIP */

.tool {
    cursor: pointer;
    position: relative;
}

.tool::before,
.tool::after {
    position: absolute;
    left: 70%;
    opacity: 0;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    z-index: 100;
    transform: scale(1) translateY(0);
}

.tool::before {
    border-style: solid;
    border-width: .23em .145em 0 .145em;
    border-color: #345 transparent transparent transparent;
    bottom: 100%;
    margin-left: -0.5em;
    content: "";
    transform: scale(.6) translateY(-90%);
    transition: all .65s cubic-bezier(.85, -0.18, .31, 1.26), .3s;
}

.tool:hover::before,
.tool:focus::before {
    transition-delay: .5s;
}

.tool::after {
    background: #345;
    border-radius: .40em;
    bottom: 114%;
    font-size: 20%;
    letter-spacing: normal;
    text-shadow: 0 0 0 #fff;
    color: #edeff0;
    width: 7.5em;
    padding: .3em;
    margin-left: -5.50em;
    content: attr(data-tip);
    transform: scale(.6) translateY(50%);
    transition: all .65s cubic-bezier(.84, -.18, .31, 1.26), .2s;
}

.tool:hover::after,
.tool:focus::after {
    transition-delay: .8s;
}

span a {
    color: #019;
    background-color: transparent;
}

span a:active, 
span a:hover,
span a:after,
span a:before,
span a:focus { 
    outline: 0; 
    color: #019;
}

span a:hover {
    color: #90f;
}



span.tool::before {
    border-width: .63em .55em 0 .55em;
}

span.tool::after {
    bottom: 155%;
    font-size: 65%;
}
