.page-bg {
    background: url('../base_img/img_2.jpg') no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

img.back_g {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    -webkit-filter: blur(35px); /* Safari 6.0 - 9.0 */
    filter: blur(35px);
}

.logo__text {
    font-size: 1.3em;
    font-weight: 700;
    color: #026;
    text-shadow: 2px 2px 2px #585858;
}

.logo__name {
    font-size: 3.3em;
    color: #019;
}

.logo__header {
    font-size: 5.3em;
    color: #019;
    letter-spacing: 0.55em;
    margin-left: .6em;
}

.bounds {
    background-color: transparent;
}

.minerals__container {
    background-color: rgba(210, 210, 210, 0.25);
    border-radius: 10px;
}

.mineral__container {
    margin-top: 13%;
    border-radius: 5px;
    background-color: rgba(250, 250, 250, 0.27);
}

.logo {
    fill: rgba(255, 255, 255, 0.47);
}

.logo--middle {
    fill: rgba(255, 255, 255, 0.83);
}

.mineral__category {
    text-shadow: 2px 2px 2px #777;
    color: #019;
}

.mineral__table td {
    color: #019;
    text-shadow: 1px 1px 1px #777;
    border-color: rgba(0, 17, 153, 0.3);
    width: 1%;
}

.minerals__anchor {
    border-color: transparent;
    border-radius: 12px 12px 12px 12px;
    background-color: rgba(200, 200, 200, 0.68);
    font-weight: 700;
    color: #019;
    text-shadow: 2px 2px 2px #577;
    transition: 
        border-radius 330ms ease-in-out, 
        font-weight 330ms ease-in-out, 
        color 330ms ease-in-out,
        font-size 330ms ease-in-out,
        scale 330ms ease-in-out,
        background-color 330ms ease-in-out;
}

.minerals__anchor:hover { 
    border-radius: 12px 12px 12px 12px;
    background-color: rgba(200, 200, 200, 1);
    color: #019; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px #323232;
    font-size: 110%;
    transform: scale(1.1);
}

.minerals__random {
    background-color: rgba(230, 230, 230, 0.88);
    box-shadow: 0 0 80px 35px rgba(230, 230, 230, 0.94);
}

.minerals__random 
.minerals__anchor { 
    border-left-width: 15px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 15px;
    background-color: rgba(230, 230, 230, 0.3);
    border-color: #019;
    color: #019;    
    border-radius: 25px 25px 25px 25px;
    transition: 
        font-size 300ms ease-in-out, 
        color 300ms ease-in-out, 
        background-color 300ms ease-in-out; 
}

.minerals__random 
.minerals__anchor:hover { 
    color: #efefef; 
    font-size: 110%;
    background-color: #019;
}

.view__all {
    border-left-width: 18px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 18px;
    width: 30%;
    margin-left: 32%;
    background-color: rgba(200, 200, 200, 0.88);
    border-radius: 14px;
    border-color: transparent;
    color: #019;
    transition: border-radius 300ms ease-in-out, 
        font-weight 300ms ease-in-out, 
        color 300ms ease-in-out, 
        font-size 300ms ease-in-out;
}

.view__all:hover {
    border-radius: 14px;
    font-size: 104%;
}

.mineral__image-bg {
    background-color: rgba(250, 250, 250, 0.2);
}

.mineral__table {
    color: #057;
}

h1, h1 a {
    color: #057;
    font-family: monospace;
    font-weight: 800;
    text-shadow: 2px 2px 2px #444;
}

.mineral__detail_header {
    background-color: rgba(0, 17, 153, 0.43);
    text-shadow: 2px 2px 2px #444;
}

.mineral__caption {
    font-weight: 600;
}

.mineral__image {
    border: solid 0 #09f;
    border-radius: 8px 8px 8px 8px;
    transition: transform 450ms ease-in-out;
}

.mineral__image:hover {
    transform: scale(1.5);   
}

/*  TOOLTIP */

.tool {
    cursor: pointer;
    position: relative;
}

.tool::before,
.tool::after {
    position: absolute;
    left: 70%;
    opacity: 0;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    z-index: 100;
    transform: scale(1) translateY(0);
}


.tool:hover::before,
.tool:focus::before {
    transition-delay: .5s;
}

.tool::after {
    background: #345;
    border-radius: .40em;
    bottom: 100%;
    font-size: 1.3rem;
    letter-spacing: normal;
    text-shadow: 0 0 0 #fff;
    color: #edeff0;
    width: 7.5rem;
    padding: .3rem;
    margin-left: -5.50em;
    content: attr(data-tip);
    transform: scale(.6) translateY(50%);
    transition: all .65s cubic-bezier(.84, -.18, .31, 1.26), .2s;
}

.tool:hover::after,
.tool:focus::after {
    transition-delay: .8s;
}

.span::after {
    bottom: -100%;
}

span a {
    color: #019;
    background-color: transparent;
}

span a:active, 
span a:hover,
span a:after,
span a:before,
span a:focus { 
    outline: 0; 
    color: #019;
}

span a:hover {
    color: #90f;
}



span.tool::before {
    border-width: .63em .55em 0 .55em;
}

span.tool::after {
    bottom: 155%;
    font-size: 65%;
}

.my-fix {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.4)!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    z-index: 1;
}

.alph {
    position: fixed;
    background-color: transparent;
    padding: 0.7% 6% 0.6% 6%;
    border: 0 solid transparent;
    background-color:  rgba(200, 200, 200, 0.4);
    width: 100%;
    max-height: 7%;
    top: 12%;
    left: 0;
    z-index: 1;
    color: #efefef;
    text-shadow: 1px 3px 3px #666;
    font-weight: 500;
}

.drop_poz {

}

.minerals__container {
    margin-top: 13%;
}

.custom {
  text-shadow: 0 1px 0 #ccc,
               0 2px 1px #c9c9c9,
               0 3px 2px #bbb,
               0 4px 3px #b9b9b9,
               0 5px 4px #aaa,
               0 6px 6px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h1 {
    color: rgba(255, 255, 255, 0.86);
    letter-spacing: 1rem;
    text-decoration-line: none;
}

a:active, a:hover {
    text-decoration-line: none;
}

.list-group-item {
    background-color: transparent;
    border-color: transparent;
    margin: 0 -10px;
}

.dis {
    color: #019!important;
    font-style: bold;
    border: solid 1px #019;
    border-radius: 3px;
    padding: 1px 4px;
}

.dis:hover {
    color: #019!important;
}

.off {
    transition: border-radius 300ms ease-in-out,
        font-style 300ms ease-in-out,
        color 300ms ease-in-out,
        border 300ms ease-in-out,
        padding 300ms ease-in-out,
        border-radius 300ms ease-in-out;
}

.off:hover {
    color: #fff!important;
    font-style: normal;
    border: solid 1px #fff;
    border-radius: 3px;
    padding: 1px 4px;
}

.frame {
    border-color: transparent;
    font-size: 1.5rem;
    background-color: rgba(240, 240, 240, 0.8);
}

.gomb {
    font-size: 1.4rem;
    border-color: transparent;
}

.gomb:hover {
    color: #019;
    font-style: bold;
    font-weight: 500;
    background-color: transparent;
    border-color: transparent;
}

/* ####################### */
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #efefef;
    display: block;
    border: none;
    background: none;
    width: 180px;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn {
    position: sticky;
    top: 0;
    left: 0;
    color: #efefef;
    border-color: transparent;
    background-color: rgba(0, 17, 153, 0.43)!important;
}

.dropdown-btn:hover, .dropdown-btn:active,
.dropdown-btn:after {
    border-color: transparent;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.dropdown-container {
    background-color: rgba(0, 17, 153, 0.43)!important;
    padding-left: 8px;
    border-radius: 0 0 0.8rem 0;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.front {
    z-index: 2;
}

.aktiv, .aktiv:hover {
    color: #efefef!important;
}

.inaktiv, .inaktiv:hover {
    color: #bbf!important;
}

.filter_title {
    background-color: rgba(0, 40, 240, 0.43)!important;
    color: #019;
    text-shadow: 2px 3px 3px #ccc;
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    border-radius: 0 .8rem 0 0;
}
