[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
"markdown2" = "*"
pytz = "*"
sqlparse = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "*"
