{% extends "layout.html" %}
{% load static %}
{% load extra_tags %}


{% block content %}
<div class="grid-100 mineral__container">
    <!-- Mineral Table/ Mineral Image -->
    <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static 'img' %}/{{ mineral.name }}.jpg" alt="{{ mineral.name }}">
        <p class="mineral__caption">{{ mineral.image_caption }}</p>
    </div>
    <!-- Mineral name with wikipedia link -->
    <a  class="tool" data-tip="Wikipedia" href="https://en.wikipedia.org/wiki/{{ mineral.name }}" target="_blank">
        <h1 class="mineral__name mineral__detail_header">{{ mineral.name }}</h1>
    </a>
    <!-- Mineral description -->
    <div class="mineral__table-container">
        <table class="mineral__table">
            {% for field in mineral.items %}
                <!-- Checks if field exist in required field labels using check filter-->
                {% if field.0|check  %}
                    {% if field.1 != '' %}
                        <tr>
                            <td class="mineral__category">{{ field.0|title|clean_title }}</td>
                            <td>{{ field.1|safe }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}