{% extends "layout.html" %}
{% load static %}
{% load extra_tags %}

{% block content %}
<div class="grid-100 mineral__container">    
    <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static 'img' %}/{{ mineral.name }}.jpg" alt="{{ mineral.name }}">
        <p class="mineral__caption">{{ mineral.image_caption }}</p>
    </div>
    <h1 class="mineral__name mineral__detail_header">{{ mineral.name }}</h1>
    <div class="mineral__table-container">
        {% block table %}
        <table class="mineral__table">
            {% for key, value in mineral.items %}
                {% if value and key in labels %}
                <tr>
                    <td class="mineral__category">{{ key }}</td>
                    <td>{{ value|safe }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endblock table %}
    </div>
</div>
{% endblock %}