{% extends "layout.html" %}
{% load static %}

<!-- Home page -->

<!-- Preselected A letter alphabet list -->
{% block alphabet_list %}
<div  class="col-sm-12 d-flex justify-content-sm-between alph">
            {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWYXZ" %}
                {% if letter == "A" %}
                    <a class="text-primary font-weight-bold h3 dis" href="{% url 'minerals:mineral_alpha' alpha=letter %}">{{ letter }}</a>
                {% else %}
                    <a class="text-white font-weight-normal h3 off" href="{% url 'minerals:mineral_alpha' alpha=letter %}">{{ letter }}</a>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}

{% block content %}
<!-- Minerals startswith A list -->
<div class="grid-100">
    <ul class="minerals__container">
        {% for mineral in minerals %}
        <li class=" list-group-item">
            <a class="minerals__anchor" href="{% url 'minerals:mineral_detail' pk=mineral.id %}">{{ mineral.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}