{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rayan's: Minerals Catalog</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="position: relative;">
    <!-- BACKGROUND WITH BLUR -->
    <div class="page-bg">
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-light my-fix mb-4 py-4">
        <!-- Main logo -->
        <div class="col-sm-1 d-flex grid-100">
            <a href="{% url 'index' %}">
                <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
                    <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
                    <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
                    <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
                </svg>
            </a>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-start">
            <a href="{% url 'minerals:mineral_list' %}">
                <h1 class="text-centered display-1 font-weight-bold custom"
                    data-tip="Click to go back to list">Minerals
                </h1>
            </a>
        </div>
        <!--<div class="col-sm-2 d-flex  justify-content-sm-between">-->
            <!--<p class="logo__text text-centered">They are-->
                <!--<span class="tool" data-tip="Wikipedia">-->
                    <!--<a href="https://en.wikipedia.org/wiki/Sedimentary_rock"-->
                       <!--target="_blank">not rocks-->
                    <!--</a>-->
                <!--</span> but they rock-->
            <!--</p>-->
        <!--</div>-->

        <div class="col-sm-4 d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
            <form method="GET" action="{% url 'minerals:mineral_search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2"
                       type="search"
                       placeholder="Search..."
                       aria-label="Search"
                       name="q">
                 <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>


        {% block alphabet_list %}
        <div  class="col-sm-12 d-flex justify-content-sm-between alph">
            {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWYXZ" %}
                {% if alpha == letter %}
                    <a class="text-primary font-weight-bold h3 disabled dis" href="{% url 'minerals:mineral_alpha' alpha=letter %}">{{ letter }}</a>
                {% else %}
                    <a class="text-white font-weight-normal h3" href="{% url 'minerals:mineral_alpha' alpha=letter %}">{{ letter }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% endblock %}
    </nav>



    <div class="bounds">

        <!-- Mineral content -->
        {% block content %}{% endblock %}
    </div>


    <!-- Random mineral button -->
    <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'minerals:random_mineral' %}">Show a random mineral</a>
    </div>

</body>
</html>
