{% load static %}
{% load extra_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rayan's: Minerals Catalog</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="position: relative;">
    <!-- BACKGROUND WITH BLUR -->
    <div class="page-bg">
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-light my-fix mb-4 py-4">
        <!-- Main logo -->
        <div class="col-sm-1 d-flex grid-100">
            <a href="{% url 'index' %}">
                <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
                    <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
                    <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
                    <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
                </svg>
            </a>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-start">
            <a href="{% url 'minerals:mineral_list' %}">
                <h1 class="text-centered display-1 font-weight-bold tool span custom"
                    data-tip="All Minerals">Minerals
                </h1>
            </a>
        </div>
        <!--<div class="col-sm-2 d-flex  justify-content-sm-between">-->
            <!--<p class="logo__text text-centered">They are-->
                <!--<span class="tool" data-tip="Wikipedia">-->
                    <!--<a href="https://en.wikipedia.org/wiki/Sedimentary_rock"-->
                       <!--target="_blank">not rocks-->
                    <!--</a>-->
                <!--</span> but they rock-->
            <!--</p>-->
        <!--</div>-->

        <div class="col-sm-4 d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
            <form method="GET" action="{% url 'minerals:mineral_search' %}"
                  name="mySelect" class="form-inline my-2 my-lg-0">

                <select name="mySelect" id="mySelect" onchange="setValue();" class="form-inline mr-sm-2 h2 frame ">
                    <option value="all" selected="">All</option>
                    <option value="name">Name</option>
                    <option value="category">Category</option>
                    <option value="group">Group</option>
                    <option value="formula">Formula</option>
                    <option value="strunz_classification">Strunz Classification</option>
                    <option value="color">Color</option>
                    <option value="crystal_system">Crystal System</option>
                    <option value="unit_cell">Unit Cell</option>
                    <option value="crystal_symmetry">Crystal Symmetry</option>
                    <option value="cleavage">Cleavage</option>
                    <option value="mohs_scale_hardness">Mohs Scale Hardness</option>
                    <option value="luster">Luster</option>
                    <option value="streak">Streak</option>
                    <option value="diaphaneity">Diaphaneity</option>
                    <option value="optical_properties">Optical Properties</option>
                    <option value="refractive_index">Refractive Index</option>
                    <option value="crystal_habit">Crystal Habit</option>
                    <option value="specific_gravity">Specific Gravity</option>
                </select>
                <input class="form-control mr-sm-2 h5 frame"
                       type="search"
                       placeholder="Search..."
                       aria-label="Search"
                       name="q">
                <button class="btn btn-outline-light my-2 my-sm-0 gomb" type="submit">&#128269;</button>

            </form>
        </div>


        <!-- ALPHABET Block, filter for mineral list -->
        {% block alphabet_list %}
        <div  class="col-sm-12 d-flex justify-content-sm-between alph">
            {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWYXZ" %}
                {% if alpha == letter %}
                    <a class="text-primary font-weight-bold h3 dis" href="{% url 'minerals:mineral_alpha' alpha=letter %}">{{ letter }}</a>
                {% else %}
                    <a class="text-white font-weight-normal h3 off" href="{% url 'minerals:mineral_alpha' alpha=letter %}">{{ letter }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% endblock %}
    </nav>

    <!-- Sidebar with filter -->
    <div class="sidenav">
        <h3 class="filter_title">Filter by:</h3>
        <button class="dropdown-btn">Group</button>
        <div class="dropdown-container">
            {% group_list gr %}
        </div>

        <button class="dropdown-btn">Color</button>
        <div class="dropdown-container">
            {% color_list cl %}
        </div>

        <button class="dropdown-btn right-border">Crystal System</button>
        <div class="dropdown-container">
            {% crystal_list cr %}
        </div>
    </div>

    <div class="bounds">
        <!-- Mineral content -->
        {% block content %}{% endblock %}
    </div>

    <!-- Random mineral button -->
    <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'minerals:random_mineral' %}">Show a random mineral</a>
    </div>
<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
</body>
</html>
